.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: orangered;
}

button {
    margin-top: 20px;
    width: 50%; 
}

.description {
    width: 50%;
    margin: 50px;
}

h1 {
    color: orangered;
    margin: 50px;
}

.table{
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    border-collapse: collapse;
    text-align:center;
    vertical-align:bottom;
}

.container button {
    margin-top: 50px;
    width: 100%;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border-width: 1px;
}


thead tr {
    text-align: center;
}

tbody tr {
    border-bottom: solid;
    border-width: 1px;
    text-align: center;
    height: 50px;
}