.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    color: orangered;
    margin: 50px;
}
.container h2 {
    color:black;
    font-size: 20px;
    padding: 20px;
}

.container h3 {
    color:black;
    font-size: 15px;
    padding: 20px;
}

.form-item-container {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
}

.icon {
    padding: 5px 5px;
    color: black;
    min-width: 3%;
    text-align: center;
    border: 1px solid #b3b3b3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.container button {
    margin-top: 50px;
    width: 75%;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border-width: 1px;
    margin: 50px;
}

.form-item {
    padding-left: 10px;
}

.slider {
    width: 800px;
}

.form-item {
    width: 800px;
}

.description {
    width: 800px;
    margin: 50px;
}

button {
    width: 800px;
}
