<app-header [homeurl]="homeurl" [logged]="logged"></app-header>
<div class="container">
    <h1>Escala de avaliação de Resultados (ORS)</h1>

    <h2>Quem está a preencher o formulário?</h2>

    <mat-checkbox class="checkbox">Própio</mat-checkbox>

    <h2>Se outro, qual a relação com a pessoa?</h2>

    <div class="form-item-container">
        <i class="icon">
            <mat-icon>person</mat-icon>
        </i>
        <input type="text" class="form-item" placeholder="Nome da pessoa que está a preencher" name="email" />
    </div>
    <div class="form-item-container">
        <i class="icon">
            <mat-icon>people</mat-icon>
        </i>
        <input type="text" class="form-item" placeholder="Relação com a pessoa" name="password" />
    </div>

    <mat-card class="description">
        Olhando em retrospectiva para a última semana, incluindo hoje, pedimos
        que nos ajude a compreender como se ten sentido, avaliando como tem
        estado nas seguintes áreas da sua vida, onde valores à esquerda
        representam baixos níves e valores à diretita indicam níveis altos. Se
        estiver a preencher este formulário por outra pessoa, por favor
        preencha-o de acordo como pensa que essa pessoa tem estado.
    </mat-card>


    <h3>Individualmente (bem-estar pessoal)</h3>
    <mat-slider class="slider" min="0" max="800" step="0.5" value="1.5"></mat-slider>
    <h3>Interpessoal (Família, relações chegadas)</h3>
    <mat-slider class="slider" min="0" max="800" step="0.5" value="1.5"></mat-slider>
    <h3>Socialmente (Trabalho, escola, amizades)</h3>
    <mat-slider class="slider" min="0" max="800" step="0.5" value="1.5"></mat-slider>
    <h3>Globalmente (Sensação geral de bem-estar</h3>
    <mat-slider class="slider" min="0" max="800" step="0.5" value="1.5"></mat-slider>

    <button>Submeter</button>
</div>