<app-header></app-header>
<div class="title-container">
  <h1>Registo Paciente</h1>
</div>
<div class="form-container">
  <div class="form-item-container">
    <i class="icon"><mat-icon>person-pin</mat-icon> </i>
    <input
      type="text"
      class="form-item"
      placeholder="Primeiro e último Nome..."
      name="name"
    />
  </div>
  <div class="form-item-container">
    <i class="icon"><mat-icon>timeline</mat-icon> </i>
    <input
      type="number"
      class="form-item"
      placeholder="Idade..."
      name="number"
    />
  </div>
  <div class="form-item-container">
    <i class="icon"><mat-icon>wc</mat-icon> </i>
    <input
      type="text"
      class="form-item"
      placeholder="Genero..."
      name="genero"
    />
  </div>
  <div class="form-item-container">
    <i class="icon"><mat-icon>email</mat-icon> </i>
    <input type="text" class="form-item" placeholder="Email..." name="email" />
  </div>
  <div class="form-item-container">
    <i class="icon"><mat-icon>email</mat-icon> </i>
    <input
      type="text"
      class="form-item"
      placeholder="Email Psicologo..."
      name="emailpsicologo"
    />
  </div>
  <button class="generic-button" mat-raised-button color="primary">
    Registar
  </button>
</div>
