<app-header [homeurl]="homeurl" [url]="url" [mostrarRegistar]="mostrarRegistar" [logged]="logged"></app-header>
<div class="title-container">
  <h1>Sistema de Registo de Sessões</h1>
</div>
<form (submit)="onLogin(loginForm)" #loginForm="ngForm">
  <div class="form-container">
    <div class="form-item-container">
      <i class="icon">
        <mat-icon>email</mat-icon>
      </i>
      <input class="form-item" matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel"
        required email />
    </div>
    <div class="form-item-container">
      <i class="icon">
        <mat-icon>vpn_key</mat-icon>
      </i>
      <input class="form-item" type="password" name="password" ngModel matInput placeholder="Password"
        #passwordInput="ngModel" required />
    </div>
    <button class="generic-button" mat-raised-button color="primary" type="submit">
      Login
    </button>
  </div>
</form>