<app-header></app-header>
<div class="title-container">
  <h1>Sistema de Registo de Sessões</h1>
</div>
<div class="form-container">
  <div class="form-item-container">
    <i class="icon"><mat-icon>email</mat-icon> </i>
    <input type="text" class="form-item" placeholder="Email..." name="email" />
  </div>
  <div class="form-item-container">
    <i class="icon"><mat-icon>vpn_key</mat-icon> </i>
    <input
      type="text"
      class="form-item"
      placeholder="Password..."
      name="password"
    />
  </div>
  <button class="generic-button" mat-raised-button color="primary">
    Login
  </button>
</div>
