<app-header [homeurl]="homeurl" [logged]="logged" [paciente]="paciente"></app-header>
<div class="title-container">
  <h1>Por favor preencha o formulário</h1>
</div>
<div class="menu-container">
  <div class="row">
    <div class="col-6">
      <div class="button-container">
        <a class="anchor-button" routerLink="/ors">
          <div>ORS</div>
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="button-container">
        <a class="anchor-button" routerLink="/srs">
          <div>SRS</div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="button-container">
        <a class="anchor-button" routerLink="/et">
          <div>ET</div>
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="button-container">
        <a class="anchor-button" routerLink="/oq10">
          <div>OP-1O</div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="button-container">
        <a class="anchor-button" routerLink="/qap">
          <div>QAP</div>
        </a>
      </div>
    </div>
    <div class="col-4">
      <div class="button-container">
        <a class="anchor-button" routerLink="/st">
          <div>ST</div>
        </a>
      </div>
    </div>
    <div class="col-4">
      <div class="button-container">
        <a class="anchor-button" routerLink="/wai">
          <div>WAI</div>
        </a>
      </div>
    </div>
  </div>
</div>