.title-container {
  text-align: center;
  padding: 100px;
}
.title-container h1 {
  font-size: 50px;
  color: orangered;
}
.generic-button {
  width: 100%;
  background-color: rgb(0, 183, 255);
}

.menu-container {
  padding: 0 25%;
}

.row {
  margin-top: 20px;
}

.button-container {
  padding: 0;
  height: 75px;
}
.button-container button {
  height: 100%;
}
.anchor-button {
  text-decoration: none;
}
.anchor-button div {
  background-color: transparent;
  text-align: center;
  color:black;
  border-radius: 5px;
  height: 100%;
  font-size: 25px;
  font-weight: bold;
  padding-top: 15px;
  margin: 20px;
  border-style: solid;
  border-width: 2px;
}
.anchor-button div:hover {
  background-color: black;
  color:white;
  border-style: solid;
  border-width: 1px;
}
