.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: orangered;
}

button {
    margin-top: 20px;
    width: 85%; 
}

.table{
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    border-collapse: collapse;
    text-align:center;
    vertical-align:bottom;
}