<app-header [homeurl]="homeurl" [logged]="logged" [paciente]="paciente"></app-header>
<div class="container">
    <h1>Questionário ET</h1>


    <table>
        <thead>
            <tr>
                <th></th>
                <th>Será muito fácil para mim</th>
                <th>Será moderadamente fácil para mim</th>
                <th>Será um pouco difícil</th>
                <th>Será bastante difícil</th>
                <th>Será impossível</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table">
                <td class="table" style="text-align: left;">De que forma será difícil para si participar na
                    psicoterapia?</td>
                <td class="table">
                    <input name="radio1" type="radio" class="radio-button" [value]="1" [(ngModel)]="formData[0]">
                </td>
                <td class="table">
                    <input name="radio1" type="radio" class="radio-button" [value]="2" [(ngModel)]="formData[0]">
                </td>
                <td class="table">
                    <input name="radio1" type="radio" class="radio-button" [value]="3" [(ngModel)]="formData[0]">
                </td>
                <td class="table">
                    <input name="radio1" type="radio" class="radio-button" [value]="4" [(ngModel)]="formData[0]">
                </td>
                <td class="table">
                    <input name="radio1" type="radio" class="radio-button" [value]="5" [(ngModel)]="formData[0]">
                </td>
            </tr>
            <tr class="table">
                <td class="table" style="text-align: left;">De que forma está confiante, que a psicoterapia irá
                    ajudar-lo a lidar eficazmene com
                    os seus
                    problemas?</td>
                <td class="table">
                    <input name="radio2" type="radio" class="radio-button" [value]="1" [(ngModel)]="formData[1]">
                </td>
                <td class="table">
                    <input name="radio2" type="radio" class="radio-button" [value]="2" [(ngModel)]="formData[1]">
                </td>
                <td class="table">
                    <input name="radio2" type="radio" class="radio-button" [value]="3" [(ngModel)]="formData[1]">
                </td>
                <td class="table">
                    <input name="radio2" type="radio" class="radio-button" [value]="4" [(ngModel)]="formData[1]">
                </td>
                <td class="table">
                    <input name="radio2" type="radio" class="radio-button" [value]="5" [(ngModel)]="formData[1]">
                </td>
            </tr>
        </tbody>
    </table>
    <button (click)="sendData()">Submeter</button>

</div>