.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: orangered;
    margin: 50px;
}


button {
    margin-top: 20px;
    width: 85%; 
}

.description {
    width: 50%;
    margin: 50px;
}

.container button {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border-width: 1px;
}

thead tr {
    text-align: center;
}

tbody tr {
    border-bottom: solid;
    border-width: 1px;
    text-align: center;
    height: 50px;
}