<app-header [homeurl]="homeurl" [logged]="logged" [paciente]="paciente"></app-header>
<div class="container">
    <h1>Questionário WAI</h1>
    <mat-card class="description">
        Instruções:
        Abaixo, encontrará afirmações sobre o que uma pessoa pode pensar ou sentir acerca da terapia ou do seu
        terapeuta.
        Por baixo de cada afirmação existe uma escala de cinco pontos.
        Para cada afirmação, considere a sua própria experiência e assinale o número correspondente.
        Note que a escala de resposta não é a mesma para todas as afirmações.
        Por favor, leia cuidadosamente e não se esqueça de responder a todas as informações.
    </mat-card>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Raramente</th>
                <th>Ocasionalmente</th>
                <th>Muitas vezes</th>
                <th>Frequentemente</th>
                <th>Sempre</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td style="text-align: left;">1. Considera que o processo terapêutico está a ajudá-lo a
                    lidar eficazmente com as
                    suas
                    dificuldades?</td>
                <td>
                    <input type="radio" name="radio1" class="radio-button" [(ngModel)]="formData[0]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio1" class="radio-button" [(ngModel)]="formData[0]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio1" class="radio-button" [(ngModel)]="formData[0]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio1" class="radio-button" [(ngModel)]="formData[0]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio1" class="radio-button" [(ngModel)]="formData[0]" [value]="5">
                </td>
            </tr>

            <tr>
                <td style="text-align: left;">2.O que eu faço na terapia permite-me ver o meu problema de
                    novas formas.</td>
                <td>
                    <input type="radio" name="radio2" class="radio-button" [(ngModel)]="formData[1]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio2" class="radio-button" [(ngModel)]="formData[1]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio2" class="radio-button" [(ngModel)]="formData[1]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio2" class="radio-button" [(ngModel)]="formData[1]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio2" class="radio-button" [(ngModel)]="formData[1]" [value]="5">
                </td>
            </tr>

            <tr>
                <td style="text-align: left;">3. Acho que o meu terapeuta gosta de mim.</td>
                <td>
                    <input type="radio" name="radio3" class="radio-button" [(ngModel)]="formData[2]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio3" class="radio-button" [(ngModel)]="formData[2]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio3" class="radio-button" [(ngModel)]="formData[2]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio3" class="radio-button" [(ngModel)]="formData[2]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio3" class="radio-button" [(ngModel)]="formData[2]" [value]="5">
                </td>
            </tr>

            <tr>
                <td style="text-align: left;">4. O meu terapeuta e eu colaboramos na definição dos
                    objectivos da minha terapia</td>
                <td>
                    <input type="radio" name="radio4" class="radio-button" [(ngModel)]="formData[3]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio4" class="radio-button" [(ngModel)]="formData[3]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio4" class="radio-button" [(ngModel)]="formData[3]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio4" class="radio-button" [(ngModel)]="formData[3]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio4" class="radio-button" [(ngModel)]="formData[3]" [value]="5">
                </td>
            </tr>

            <tr>
                <td style="text-align: left;">5. O meu terapeuta e eu respeitamo-nos mutuamente</td>
                <td>
                    <input type="radio" name="radio5" class="radio-button" [(ngModel)]="formData[4]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio5" class="radio-button" [(ngModel)]="formData[4]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio5" class="radio-button" [(ngModel)]="formData[4]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio5" class="radio-button" [(ngModel)]="formData[4]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio5" class="radio-button" [(ngModel)]="formData[4]" [value]="5">
                </td>
            </tr>

            <tr>
                <td style="text-align: left;">6. O meu terapeuta e eu trabalhamos para objectivos que
                    foram mutuamente acordados.
                </td>
                <td>
                    <input type="radio" name="radio6" class="radio-button" [(ngModel)]="formData[5]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio6" class="radio-button" [(ngModel)]="formData[5]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio6" class="radio-button" [(ngModel)]="formData[5]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio6" class="radio-button" [(ngModel)]="formData[5]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio6" class="radio-button" [(ngModel)]="formData[5]" [value]="5">
                </td>
            </tr>

            <tr>
                <td style="text-align: left;">7. Sinto que o meu terapeuta me aprecia.</td>
                <td>
                    <input type="radio" name="radio7" class="radio-button" [(ngModel)]="formData[6]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio7" class="radio-button" [(ngModel)]="formData[6]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio7" class="radio-button" [(ngModel)]="formData[6]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio7" class="radio-button" [(ngModel)]="formData[6]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio7" class="radio-button" [(ngModel)]="formData[6]" [value]="5">
                </td>
            </tr>

            <tr>
                <td style="text-align: left;">8. O meu terapeuta e eu estamos de acordo acerca do que eu
                    preciso de fazer para
                    melhorar.
                </td>
                <td>
                    <input type="radio" name="radio8" class="radio-button" [(ngModel)]="formData[7]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio8" class="radio-button" [(ngModel)]="formData[7]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio8" class="radio-button" [(ngModel)]="formData[7]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio8" class="radio-button" [(ngModel)]="formData[7]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio8" class="radio-button" [(ngModel)]="formData[7]" [value]="5">
                </td>
            </tr>

            <tr>
                <td style="text-align: left;">9. Sinto que o meu terapeuta se preocupa comigo mesmo quando
                    eu faço coisas que ele
                    não
                    aprova.</td>
                <td>
                    <input type="radio" name="radio9" class="radio-button" [(ngModel)]="formData[8]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio9" class="radio-button" [(ngModel)]="formData[8]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio9" class="radio-button" [(ngModel)]="formData[8]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio9" class="radio-button" [(ngModel)]="formData[8]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio9" class="radio-button" [(ngModel)]="formData[8]" [value]="5">
                </td>
            </tr>

            <tr>
                <td style="text-align: left;">10. Sinto que aquilo que faço na terapia me ajudará a
                    alcançar as mudanças que eu
                    quero.
                </td>
                <td>
                    <input type="radio" name="radio10" class="radio-button" [(ngModel)]="formData[9]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio10" class="radio-button" [(ngModel)]="formData[9]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio10" class="radio-button" [(ngModel)]="formData[9]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio10" class="radio-button" [(ngModel)]="formData[9]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio10" class="radio-button" [(ngModel)]="formData[9]" [value]="5">
                </td>
            </tr>

            <tr>
                <td style="text-align: left;">11. O meu terapeuta e eu estabelecemos um bom entendimento
                    quando às mudanças que
                    seriam
                    boas.
                </td>
                <td>
                    <input type="radio" name="radio11" class="radio-button" [(ngModel)]="formData[10]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio11" class="radio-button" [(ngModel)]="formData[10]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio11" class="radio-button" [(ngModel)]="formData[10]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio11" class="radio-button" [(ngModel)]="formData[10]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio11" class="radio-button" [(ngModel)]="formData[10]" [value]="5">
                </td>
            </tr>

            <tr>
                <td style="text-align: left;">12. Acredito que o modo como estamos a trabalhar com o meu
                    problema é correcto.</td>
                <td>
                    <input type="radio" name="radio12" class="radio-button" [(ngModel)]="formData[11]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio12" class="radio-button" [(ngModel)]="formData[11]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio12" class="radio-button" [(ngModel)]="formData[11]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio12" class="radio-button" [(ngModel)]="formData[11]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio12" class="radio-button" [(ngModel)]="formData[11]" [value]="5">
                </td>
            </tr>

    </table>
    <button (click)="sendData()">Submeter</button>
</div>