<app-header [homeurl]="homeurl" [logged]="logged"></app-header>
<div class="container">
    <h1>Questionário WAI</h1>
    <mat-card class="description">
        Instruções:
        Abaixo, encontrará afirmações sobre o que uma pessoa pode pensar ou sentir acerca da terapia ou do seu
        terapeuta.
        Por baixo de cada afirmação existe uma escala de cinco pontos.
        Para cada afirmação, considere a sua própria experiência e assinale o número correspondente.
        Note que a escala de resposta não é a mesma para todas as afirmações.
        Por favor, leia cuidadosamente e não se esqueça de responder a todas as informações.
    </mat-card>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Raramente</th>
                <th>Ocasionalmente</th>
                <th>Muitas vezes</th>
                <th>Frequentemente</th>
                <th>Sempre</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td class="table" style="text-align: left;">1. Considera que o processo terapêutico está a ajudá-lo a
                    lidar eficazmente com as
                    suas
                    dificuldades?</td>
                <td class="table">
                    <mat-radio-button value="1">1</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="2">2</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="3">3</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="4">4</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="5">5</mat-radio-button>
                </td>
            </tr>

            <tr>
                <td class="table" style="text-align: left;">2.O que eu faço na terapia permite-me ver o meu problema de
                    novas formas.</td>
                <td class="table">
                    <mat-radio-button value="1">1</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="2">2</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="3">3</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="4">4</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="5">5</mat-radio-button>
                </td>
            </tr>

            <tr>
                <td class="table" style="text-align: left;">3. Acho que o meu terapeuta gosta de mim.</td>
                <td class="table">
                    <mat-radio-button value="1">1</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="2">2</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="3">3</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="4">4</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="5">5</mat-radio-button>
                </td>
            </tr>

            <tr>
                <td class="table" style="text-align: left;">4. O meu terapeuta e eu colaboramos na definição dos
                    objectivos da minha terapia</td>
                <td class="table">
                    <mat-radio-button value="1">1</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="2">2</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="3">3</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="4">4</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="5">5</mat-radio-button>
                </td>
            </tr>

            <tr>
                <td class="table" style="text-align: left;">5. O meu terapeuta e eu respeitamo-nos mutuamente</td>
                <td class="table">
                    <mat-radio-button value="1">1</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="2">2</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="3">3</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="4">4</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="5">5</mat-radio-button>
                </td>
            </tr>

            <tr>
                <td class="table" style="text-align: left;">6. O meu terapeuta e eu trabalhamos para objectivos que
                    foram mutuamente acordados.
                </td>
                <td class="table">
                    <mat-radio-button value="1">1</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="2">2</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="3">3</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="4">4</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="5">5</mat-radio-button>
                </td>
            </tr>

            <tr>
                <td class="table" style="text-align: left;">7. Sinto que o meu terapeuta me aprecia.</td>
                <td class="table">
                    <mat-radio-button value="1">1</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="2">2</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="3">3</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="4">4</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="5">5</mat-radio-button>
                </td>
            </tr>

            <tr>
                <td class="table" style="text-align: left;">8. O meu terapeuta e eu estamos de acordo acerca do que eu
                    preciso de fazer para
                    melhorar.
                </td>
                <td class="table">
                    <mat-radio-button value="1">1</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="2">2</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="3">3</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="4">4</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="5">5</mat-radio-button>
                </td>
            </tr>

            <tr>
                <td class="table" style="text-align: left;">9. Sinto que o meu terapeuta se preocupa comigo mesmo quando
                    eu faço coisas que ele
                    não
                    aprova.</td>
                <td class="table">
                    <mat-radio-button value="1">1</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="2">2</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="3">3</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="4">4</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="5">5</mat-radio-button>
                </td>
            </tr>

            <tr>
                <td class="table" style="text-align: left;">10. Sinto que aquilo que faço na terapia me ajudará a
                    alcançar as mudanças que eu
                    quero.
                </td>
                <td class="table">
                    <mat-radio-button value="1">1</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="2">2</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="3">3</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="4">4</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="5">5</mat-radio-button>
                </td>
            </tr>

            <tr>
                <td class="table" style="text-align: left;">11. O meu terapeuta e eu estabelecemos um bom entendimento
                    quando às mudanças que
                    seriam
                    boas.
                </td>
                <td class="table">
                    <mat-radio-button value="1">1</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="2">2</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="3">3</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="4">4</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="5">5</mat-radio-button>
                </td>
            </tr>

            <tr>
                <td class="table" style="text-align: left;">12. Acredito que o modo como estamos a trabalhar com o meu
                    problema é correcto.</td>
                <td class="table">
                    <mat-radio-button value="1" required>1</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="2" required>2</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="3" required>3</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="4" required>4</mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="5" required>5</mat-radio-button>
                </td>
            </tr>

    </table>
    <button>Submeter</button>
</div>