.title-container {
  text-align: center;
  padding: 100px;
}
.title-container h1 {
  font-size: 50px;
  color: orangered;
}
.generic-button {
  width: 100%;
  background-color: rgb(0, 183, 255);
}
.button-container {
  padding: 0 25% 50px 25%;
  height: 50px;
}
.button-container button {
  height: 100%;
}
.anchor-button {
  text-decoration: none;
}
.anchor-button div {
  background-color: rgb(0, 183, 255);
  text-align: center;
  color: white;
  border-radius: 5px;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  padding-top: 5px;
  margin-top: 20px;
}
.anchor-button div:hover {
  background-color: transparent;
  color: rgb(0, 183, 255);
  border-style: solid;
  border-width: 1px;
}
