<app-header
  [homeurl]="homeurl"
  [mostrarRegistar]="mostrarRegistar"
  [logged]="logged"
></app-header>
<div class="title-container">
  <h1>Registo Psicologo</h1>
</div>
<div class="form-container">
  <div class="form-item-container">
    <i class="icon"><mat-icon>person</mat-icon> </i>
    <input
      type="text"
      class="form-item"
      placeholder="Primeiro e último Nome..."
      name="name"
    />
  </div>
  <div class="form-item-container">
    <i class="icon"><mat-icon>dns</mat-icon> </i>
    <input
      type="text"
      class="form-item"
      placeholder="Servico..."
      name="servico"
    />
  </div>
  <div class="form-item-container">
    <i class="icon"><mat-icon>email</mat-icon> </i>
    <input
      type="text"
      class="form-item"
      placeholder="Password..."
      name="password"
    />
  </div>
  <div class="form-item-container">
    <i class="icon"><mat-icon>email</mat-icon> </i>
    <input type="text" class="form-item" placeholder="Email..." name="email" />
  </div>
  <button class="generic-button" mat-raised-button color="primary">
    Registar
  </button>
</div>
