<app-header [homeurl]="homeurl" [mostrarRegistar]="mostrarRegistar" [logged]="logged"></app-header>
<div class="title-container">
  <h1>Registo Psicologo</h1>
</div>
<form (submit)="onRegister(registerForm)" #registerForm="ngForm">
  <div class="form-container">
    <div class="form-item-container">
      <i class="icon">
        <mat-icon>person</mat-icon>
      </i>
      <input class="form-item" matInput name="nome" ngModel type="text" placeholder="Primeiro e Ultimo nome..."
        #nomeInput="ngModel" required nome />
    </div>
    <div class="form-item-container">
      <i class="icon">
        <mat-icon>dns</mat-icon>
      </i>
      <input class="form-item" matInput name="servico" ngModel type="text" placeholder="Servico..." #nomeInput="ngModel"
        required servico />
    </div>
    <div class="form-item-container">
      <i class="icon">
        <mat-icon>email</mat-icon>
      </i>
      <input class="form-item" matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel"
        required email />
    </div>
    <div class="form-item-container">
      <i class="icon">
        <mat-icon>vpn_key</mat-icon>
      </i>
      <input class="form-item" type="password" name="password" ngModel matInput placeholder="Password"
        #passwordInput="ngModel" required />
    </div>
    <button class="generic-button" mat-raised-button color="primary" type="submit">
      Registar
    </button>
  </div>
</form>