.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    width: 800px;
}
.slider {
    width: 800px;
}

.answer-container {
    display: flex;
    width: 800px;
    justify-content: space-between;
}

.answer {
    width: 150px;
}

button {
    width: 800px;
}