<div class="container">
    <h1>OQ-45</h1>
    <h3>Instruções</h3>
    <mat-card>
        Para nos ajudar a compreender como é que se tem sentido, considere
        a última semana incluindo o dia de hoje. Leia atentamente cada pergunta 
        e assinale a categoria que melhor descreve o seu estado atual.
        Neste questionário trabalho é definido como emprego, escola, trabalho doméstico
        , trabalho voluntário, atividades de lazer, etc... Por favor responda
        a todas as questões.
    </mat-card>

    <table mat-table [dataSource]="">
        <mat-text-column name="teste1234"></mat-text-column>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>]
    </table>
</div>