<app-header [homeurl]="homeurl" [logged]="logged"></app-header>
<div class="container">
    <h1>Questionário OQ-10</h1>

    <mat-card class="description">
        Instruções: Para nos ajudar a compreender como é que se tem sentido, considere a última semana, incluindo o dia
        de hoje. Leia atentamente cada pergunta e assinale com uma cruz a categoria que melhor descreve o seu estado
        atual. Neste questionário trabalho é definido como emprego, escola, trabalho doméstico, trabalho voluntário,
        atividades de lazer, etc… Por favor responda a todas as questões.
    </mat-card>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Nunca</th>
                <th>Raramente</th>
                <th>Às vezes</th>
                <th>Frequentemente</th>
                <th>Quase sempre</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table">
                <td class="table" style="text-align: left;">1.Sou uma pessoa feliz</td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="1">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="2">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="3">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="4">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="5">
                    </mat-radio-button>
                </td>
            </tr>
            <tr class="table">
                <td class="table" style="text-align: left;">2.Estou satisfeito com a minha vida</td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="1">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="2">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="3">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="4">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="5">
                    </mat-radio-button>
                </td>
            </tr>
            <tr class="table">
                <td class="table" style="text-align: left;">3.Estou satisfeito com as minhas relações com os outros</td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="1">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="2">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="3">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="4">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="5">
                    </mat-radio-button>
                </td>
            </tr>
            <tr class="table">
                <td class="table" style="text-align: left;">4.Sinto me amado ou desejado</td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="1">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="2">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="3">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="4">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="5">
                    </mat-radio-button>
                </td>
            </tr>
            <tr class="table">
                <td class="table" style="text-align: left;">4.Sinto-me satisfeito com as minhas relações
                    afetivas/amorosas
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="1">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="2">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="3">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="4">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="5">
                    </mat-radio-button>
                </td>
            </tr>
            <tr class="table">
                <td class="table" style="text-align: left;">5.Sinto me medroso/atemorizado</td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="1">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="2">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="3">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="4">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="5">
                    </mat-radio-button>
                </td>
            </tr>
            <tr class="table">
                <td class="table" style="text-align: left;">6.Sinto que há qualquer coisa que não está bem com a minha
                    mente</td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="1">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="2">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="3">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="4">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="5">
                    </mat-radio-button>
                </td>
            </tr>
            <tr class="table">
                <td class="table" style="text-align: left;">7.Sinto-me triste</td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="1">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="2">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="3">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="4">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="5">
                    </mat-radio-button>
                </td>
            </tr>
            <tr class="table">
                <td class="table" style="text-align: left;">8.Sinto-me sozinho</td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="1">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="2">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="3">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="4">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="5">
                    </mat-radio-button>
                </td>
            </tr>
            <tr class="table">
                <td class="table" style="text-align: left;">9.Sinto me stressado no trabalho/escola</td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="1">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="2">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="3">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="4">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button" [value]="5">
                    </mat-radio-button>
                </td>
            </tr>
        </tbody>
    </table>
    <button>Submeter</button>

</div>