<app-header [homeurl]="homeurl" [logged]="logged" [paciente]="paciente"></app-header>
<div class="container">
    <h1>Questionário OQ-10</h1>

    <mat-card class="description">
        Instruções: Para nos ajudar a compreender como é que se tem sentido, considere a última semana, incluindo o dia
        de hoje. Leia atentamente cada pergunta e assinale com uma cruz a categoria que melhor descreve o seu estado
        atual. Neste questionário trabalho é definido como emprego, escola, trabalho doméstico, trabalho voluntário,
        atividades de lazer, etc… Por favor responda a todas as questões.
    </mat-card>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Nunca</th>
                <th>Raramente</th>
                <th>Às vezes</th>
                <th>Frequentemente</th>
                <th>Quase sempre</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table">
                <td class="table" style="text-align: left;">1.Sou uma pessoa feliz</td>
                <td class="table">
                    <input type="radio" name="radio1" class="radio-button" [(ngModel)]="formData[0]" [value]="1">
                </td>
                <td class="table">
                    <input type="radio" name="radio1" class="radio-button" [(ngModel)]="formData[0]" [value]="2">
                </td>
                <td class="table">
                    <input type="radio" name="radio1" class="radio-button" [(ngModel)]="formData[0]" [value]="3">
                </td>
                <td class="table">
                    <input type="radio" name="radio1" class="radio-button" [(ngModel)]="formData[0]" [value]="4">
                </td>
                <td class="table">
                    <input type="radio" name="radio1" class="radio-button" [(ngModel)]="formData[0]" [value]="5">
                </td>
            </tr>
            <tr class="table">
                <td class="table" style="text-align: left;">2.Estou satisfeito com a minha vida</td>
                <td class="table">
                    <input type="radio" name="radio2" class="radio-button" [(ngModel)]="formData[1]" [value]="1">
                </td>
                <td class="table">
                    <input type="radio" name="radio2" class="radio-button" [(ngModel)]="formData[1]" [value]="2">
                </td>
                <td class="table">
                    <input type="radio" name="radio2" class="radio-button" [(ngModel)]="formData[1]" [value]="3">
                </td>
                <td class="table">
                    <input type="radio" name="radio2" class="radio-button" [(ngModel)]="formData[1]" [value]="4">
                </td>
                <td class="table">
                    <input type="radio" name="radio2" class="radio-button" [(ngModel)]="formData[1]" [value]="5">
                </td>
            </tr>
            <tr class="table">
                <td class="table" style="text-align: left;">3.Estou satisfeito com as minhas relações com os outros</td>
                <td class="table">
                    <input type="radio" name="radio3" class="radio-button" [(ngModel)]="formData[2]" [value]="1">

                </td>
                <td class="table">
                    <input type="radio" name="radio3" class="radio-button" [(ngModel)]="formData[2]" [value]="2">

                </td>
                <td class="table">
                    <input type="radio" name="radio3" class="radio-button" [(ngModel)]="formData[2]" [value]="3">

                </td>
                <td class="table">
                    <input type="radio" name="radio3" class="radio-button" [(ngModel)]="formData[2]" [value]="4">

                </td>
                <td class="table">
                    <input type="radio" name="radio3" class="radio-button" [(ngModel)]="formData[2]" [value]="5">

                </td>
            </tr>
            <tr class="table">
                <td class="table" style="text-align: left;">4.Sinto me amado ou desejado</td>
                <td class="table">
                    <input type="radio" name="radio4" class="radio-button" [(ngModel)]="formData[3]" [value]="1">
                </td>
                <td class="table">
                    <input type="radio" name="radio4" class="radio-button" [(ngModel)]="formData[3]" [value]="2">

                </td>
                <td class="table">
                    <input type="radio" name="radio4" class="radio-button" [(ngModel)]="formData[3]" [value]="3">

                </td>
                <td class="table">
                    <input type="radio" name="radio4" class="radio-button" [(ngModel)]="formData[3]" [value]="4">

                </td>
                <td class="table">
                    <input type="radio" name="radio4" class="radio-button" [(ngModel)]="formData[3]" [value]="5">

                </td>
            </tr>
            <tr class="table">
                <td class="table" style="text-align: left;">5.Sinto-me satisfeito com as minhas relações
                    afetivas/amorosas
                </td>
                <td class="table">
                    <input type="radio" name="radio5" class="radio-button" [(ngModel)]="formData[4]" [value]="1">

                </td>
                <td class="table">
                    <input type="radio" name="radio5" class="radio-button" [(ngModel)]="formData[4]" [value]="2">

                </td>
                <td class="table">
                    <input type="radio" name="radio5" class="radio-button" [(ngModel)]="formData[4]" [value]="3">

                </td>
                <td class="table">
                    <input type="radio" name="radio5" class="radio-button" [(ngModel)]="formData[4]" [value]="4">

                </td>
                <td class="table">
                    <input type="radio" name="radio5" class="radio-button" [(ngModel)]="formData[4]" [value]="5">

                </td>
            </tr>
            <tr class="table">
                <td class="table" style="text-align: left;">6.Sinto me medroso/atemorizado</td>
                <td class="table">
                    <input type="radio" name="radio6" class="radio-button" [(ngModel)]="formData[5]" [value]="1">

                </td>
                <td class="table">
                    <input type="radio" name="radio6" class="radio-button" [(ngModel)]="formData[5]" [value]="2">

                </td>
                <td class="table">
                    <input type="radio" name="radio6" class="radio-button" [(ngModel)]="formData[5]" [value]="3">

                </td>
                <td class="table">
                    <input type="radio" name="radio6" class="radio-button" [(ngModel)]="formData[5]" [value]="4">

                </td>
                <td class="table">
                    <input type="radio" name="radio6" class="radio-button" [(ngModel)]="formData[5]" [value]="5">

                </td>
            </tr>
            <tr class="table">
                <td class="table" style="text-align: left;">7.Sinto que há qualquer coisa que não está bem com a minha
                    mente</td>
                <td class="table">
                    <input type="radio" name="radio7" class="radio-button" [(ngModel)]="formData[6]" [value]="1">

                </td>
                <td class="table">
                    <input type="radio" name="radio7" class="radio-button" [(ngModel)]="formData[6]" [value]="2">

                </td>
                <td class="table">
                    <input type="radio" name="radio7" class="radio-button" [(ngModel)]="formData[6]" [value]="3">

                </td>
                <td class="table">
                    <input type="radio" name="radio7" class="radio-button" [(ngModel)]="formData[6]" [value]="4">

                </td>
                <td class="table">
                    <input type="radio" name="radio7" class="radio-button" [(ngModel)]="formData[6]" [value]="5">

                </td>
            </tr>
            <tr class="table">
                <td class="table" style="text-align: left;">8.Sinto-me triste</td>
                <td class="table">
                    <input type="radio" name="radio8" class="radio-button" [(ngModel)]="formData[7]" [value]="1">
                </td>
                <td class="table">
                    <input type="radio" name="radio8" class="radio-button" [(ngModel)]="formData[7]" [value]="2">

                </td>
                <td class="table">
                    <input type="radio" name="radio8" class="radio-button" [(ngModel)]="formData[7]" [value]="3">

                </td>
                <td class="table">
                    <input type="radio" name="radio8" class="radio-button" [(ngModel)]="formData[7]" [value]="4">

                </td>
                <td class="table">
                    <input type="radio" name="radio8" class="radio-button" [(ngModel)]="formData[7]" [value]="5">

                </td>
            </tr>
            <tr class="table">
                <td class="table" style="text-align: left;">9.Sinto-me sozinho</td>
                <td class="table">
                    <input type="radio" name="radio9" class="radio-button" [(ngModel)]="formData[8]" [value]="1">

                </td>
                <td class="table">
                    <input type="radio" name="radio9" class="radio-button" [(ngModel)]="formData[8]" [value]="2">

                </td>
                <td class="table">
                    <input type="radio" name="radio9" class="radio-button" [(ngModel)]="formData[8]" [value]="3">

                </td>
                <td class="table">
                    <input type="radio" name="radio9" class="radio-button" [(ngModel)]="formData[8]" [value]="4">

                </td>
                <td class="table">
                    <input type="radio" name="radio9" class="radio-button" [(ngModel)]="formData[8]" [value]="5">

                </td>
            </tr>
            <tr class="table">
                <td class="table" style="text-align: left;">10.Sinto me stressado no trabalho/escola</td>
                <td class="table">
                    <input type="radio" name="radio10" class="radio-button" [(ngModel)]="formData[9]" [value]="1">

                </td>
                <td class="table">
                    <input type="radio" name="radio10" class="radio-button" [(ngModel)]="formData[9]" [value]="2">

                </td>
                <td class="table">
                    <input type="radio" name="radio10" class="radio-button" [(ngModel)]="formData[9]" [value]="3">

                </td>
                <td class="table">
                    <input type="radio" name="radio10" class="radio-button" [(ngModel)]="formData[9]" [value]="4">

                </td>
                <td class="table">
                    <input type="radio" name="radio10" class="radio-button" [(ngModel)]="formData[9]" [value]="5">

                </td>
            </tr>
        </tbody>
    </table>

    <button (click)="sendData()">Submeter</button>

</div>