<app-header [homeurl]="homeurl" [logged]="logged" [paciente]="paciente"></app-header>
<div class="container">
    <h1>Questionário QAP</h1>

    <mat-card class="description">
        Instruções: As mudanças nas nossas vidas, mesmo quando sabemos que são para melhor, nunca acontecem de forma
        simples. Apesar de sabermos para onde queremos ir, muitas vezes colocamos em causa esse destino porque nos
        parece difícil lá chegar ou porque, a dado momento, sentimos dúvidas se será realmente o melhor para nós. O
        objetivo deste questionário é ajudar a perceber esses momentos, compreender esse impasse.
    </mat-card>

    <mat-card class="description">
        LEMBRE-SE que não há respostas certas ou erradas – Queremos apenas perceber o que sente e por isso a sua
        sinceridade é o mais importante.
    </mat-card>

    <table>
        <thead>
            <th>Sinto que nada mudou</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>Sinto que tudo mudou</th>
        </thead>
        <tbody>
            <tr>
                <td>
                </td>
                <td>
                    <input type="radio" name="radio1" class="radio-button" [(ngModel)]="formData[0]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio1" class="radio-button" [(ngModel)]="formData[0]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio1" class="radio-button" [(ngModel)]="formData[0]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio1" class="radio-button" [(ngModel)]="formData[0]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio1" class="radio-button" [(ngModel)]="formData[0]" [value]="5">
                </td>
                <td>
                    <input type="radio" name="radio1" class="radio-button" [(ngModel)]="formData[0]" [value]="6">
                </td>
                <td>
                    <input type="radio" name="radio1" class="radio-button" [(ngModel)]="formData[0]" [value]="7">
                </td>
                <td>
                    <input type="radio" name="radio1" class="radio-button" [(ngModel)]="formData[0]" [value]="8">
                </td>
                <td>
                    <input type="radio" name="radio1" class="radio-button" [(ngModel)]="formData[0]" [value]="9">
                </td>
                <td>
                    <input type="radio" name="radio1" class="radio-button" [(ngModel)]="formData[0]" [value]="10">
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Nunca</th>
                <th>Raramente</th>
                <th>Às vezes</th>
                <th>Frequentemente</th>
                <th>Quase sempre</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td style="text-align: left;">1. Não tenho conseguido mudar.</td>
                <td>
                    <input type="radio" name="radio2" class="radio-button" [(ngModel)]="formData[1]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio2" class="radio-button" [(ngModel)]="formData[1]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio2" class="radio-button" [(ngModel)]="formData[1]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio2" class="radio-button" [(ngModel)]="formData[1]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio2" class="radio-button" [(ngModel)]="formData[1]" [value]="5">
                </td>
            </tr>

            <tr>
                <td style="text-align: left;">
                    2. Por vezes coloco tudo que envolve a mudança em causa.
                </td>
                <td>
                    <input type="radio" name="radio3" class="radio-button" [(ngModel)]="formData[2]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio3" class="radio-button" [(ngModel)]="formData[2]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio3" class="radio-button" [(ngModel)]="formData[2]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio3" class="radio-button" [(ngModel)]="formData[2]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio3" class="radio-button" [(ngModel)]="formData[2]" [value]="5">
                </td>
            </tr>

            <tr>
                <td style="text-align: left;">
                    3. Umas vezes penso que tudo vai correr bem, outras que tudo vai
                    ficar na mesma ou piorar.
                </td>
                <td>
                    <input type="radio" name="radio4" class="radio-button" [(ngModel)]="formData[3]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio4" class="radio-button" [(ngModel)]="formData[3]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio4" class="radio-button" [(ngModel)]="formData[3]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio4" class="radio-button" [(ngModel)]="formData[3]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio4" class="radio-button" [(ngModel)]="formData[3]" [value]="5">
                </td>
            </tr>

            <tr>
                <td style="text-align: left;">4. Tudo pode piorar de um momento para o outro.</td>
                <td>
                    <input type="radio" name="radio5" class="radio-button" [(ngModel)]="formData[4]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio5" class="radio-button" [(ngModel)]="formData[4]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio5" class="radio-button" [(ngModel)]="formData[4]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio5" class="radio-button" [(ngModel)]="formData[4]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio5" class="radio-button" [(ngModel)]="formData[4]" [value]="5">
                </td>
            </tr>

            <tr>
                <td style="text-align: left;">
                    5. Umas vezes sinto que tenho mudado e outras sinto que estou na
                    mesma.
                </td>
                <td>
                    <input type="radio" name="radio6" class="radio-button" [(ngModel)]="formData[5]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio6" class="radio-button" [(ngModel)]="formData[5]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio6" class="radio-button" [(ngModel)]="formData[5]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio6" class="radio-button" [(ngModel)]="formData[5]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio6" class="radio-button" [(ngModel)]="formData[5]" [value]="5">
                </td>
            </tr>

            <tr>
                <td style="text-align: left;">6. Volto sempre ao mesmo.</td>
                <td>
                    <input type="radio" name="radio7" class="radio-button" [(ngModel)]="formData[6]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio7" class="radio-button" [(ngModel)]="formData[6]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio7" class="radio-button" [(ngModel)]="formData[6]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio7" class="radio-button" [(ngModel)]="formData[6]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio7" class="radio-button" [(ngModel)]="formData[6]" [value]="5">
                </td>
            </tr>

            <tr>
                <td style="text-align: left;">7. Há sempre algo que me puxa para trás.</td>
                <td>
                    <input type="radio" name="radio8" class="radio-button" [(ngModel)]="formData[7]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio8" class="radio-button" [(ngModel)]="formData[7]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio8" class="radio-button" [(ngModel)]="formData[7]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio8" class="radio-button" [(ngModel)]="formData[7]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio8" class="radio-button" [(ngModel)]="formData[7]" [value]="5">
                </td>
            </tr>

            <tr>
                <td style="text-align: left;">
                    8. Tanto tenho a certeza do que quero mudar como logo a seguir
                    sinto-me perdido(a).
                </td>
                <td>
                    <input type="radio" name="radio9" class="radio-button" [(ngModel)]="formData[8]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio9" class="radio-button" [(ngModel)]="formData[8]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio9" class="radio-button" [(ngModel)]="formData[8]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio9" class="radio-button" [(ngModel)]="formData[8]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio9" class="radio-button" [(ngModel)]="formData[8]" [value]="5">
                </td>
            </tr>
            <tr>
                <td style="text-align: left;">
                    9. Tudo permanece igual apesar dos meus esforços.
                </td>
                <td>
                    <input type="radio" name="radio10" class="radio-button" [(ngModel)]="formData[9]" [value]="1">
                </td>
                <td>
                    <input type="radio" name="radio10" class="radio-button" [(ngModel)]="formData[9]" [value]="2">
                </td>
                <td>
                    <input type="radio" name="radio10" class="radio-button" [(ngModel)]="formData[9]" [value]="3">
                </td>
                <td>
                    <input type="radio" name="radio10" class="radio-button" [(ngModel)]="formData[9]" [value]="4">
                </td>
                <td>
                    <input type="radio" name="radio10" class="radio-button" [(ngModel)]="formData[9]" [value]="5">
                </td>
            </tr>
        </tbody>
    </table>
    <button (click)="sendData()">Submeter</button>

</div>