<app-header [homeurl]="homeurl" [logged]="logged"></app-header>
<div class="container">
    <h1>Questionário QAP</h1>

    <mat-card class="description">
        Instruções: As mudanças nas nossas vidas, mesmo quando sabemos que são para melhor, nunca acontecem de forma
        simples. Apesar de sabermos para onde queremos ir, muitas vezes colocamos em causa esse destino porque nos
        parece difícil lá chegar ou porque, a dado momento, sentimos dúvidas se será realmente o melhor para nós. O
        objetivo deste questionário é ajudar a perceber esses momentos, compreender esse impasse.
    </mat-card>

    <mat-card class="description">
        LEMBRE-SE que não há respostas certas ou erradas – Queremos apenas perceber o que sente e por isso a sua
        sinceridade é o mais importante.
    </mat-card>

    <table>
        <thead>
            <th>Sinto que nada mudou</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>Sinto que tudo mudou</th>
        </thead>
        <tbody>
            <tr class="table">
                <td>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button">
                    </mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button class="radio-button">
                    </mat-radio-button>
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Nunca</th>
                <th>Raramente</th>
                <th>Às vezes</th>
                <th>Frequentemente</th>
                <th>Quase sempre</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="table">Não tenho conseguido mudar.</td>
                <td class="table">
                    <mat-radio-button value="1"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="2"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="3"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="4"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="5"></mat-radio-button>
                </td>
            </tr>

            <tr>
                <td class="table">
                    Por vezes coloco tudo que envolve a mudança em causa.
                </td>
                <td class="table">
                    <mat-radio-button value="1"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="2"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="3"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="4"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="5"></mat-radio-button>
                </td>
            </tr>

            <tr>
                <td class="table">
                    Umas vezes penso que tudo vai correr bem, outras que tudo vai
                    ficar na mesma ou piorar.
                </td>
                <td class="table">
                    <mat-radio-button value="1"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="2"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="3"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="4"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="5"></mat-radio-button>
                </td>
            </tr>

            <tr>
                <td class="table">Tudo pode piorar de um momento para o outro.</td>
                <td class="table">
                    <mat-radio-button value="1"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="2"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="3"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="4"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="5"></mat-radio-button>
                </td>
            </tr>

            <tr>
                <td class="table">
                    Umas vezes sinto que tenho mudado e outras sinto que estou na
                    mesma.
                </td>
                <td class="table">
                    <mat-radio-button value="1"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="2"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="3"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="4"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="5"></mat-radio-button>
                </td>
            </tr>

            <tr>
                <td class="table">Volto sempre ao mesmo.</td>
                <td class="table">
                    <mat-radio-button value="1"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="2"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="3"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="4"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="5"></mat-radio-button>
                </td>
            </tr>

            <tr>
                <td class="table">Há sempre algo que me puxa para trás.</td>
                <td class="table">
                    <mat-radio-button value="1"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="2"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="3"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="4"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="5"></mat-radio-button>
                </td>
            </tr>

            <tr>
                <td class="table">
                    Tanto tenho a certeza do que quero mudar como logo a seguir
                    sinto-me perdido(a).
                </td>
                <td class="table">
                    <mat-radio-button value="1"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="2"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="3"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="4"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="5"></mat-radio-button>
                </td>
            </tr>

            <tr>
                <td class="table">
                    Tudo permanece igual apesar dos meus esforços.
                </td>
                <td class="table">
                    <mat-radio-button value="1"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="2"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="3"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="4"></mat-radio-button>
                </td>
                <td class="table">
                    <mat-radio-button value="5"></mat-radio-button>
                </td>
            </tr>
        </tbody>
    </table>
    <button>Submeter</button>

</div>