.container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

mat-card {
    margin: 20px;
}

.personal {
    display: flex;
    align-content: center; 
}

mat-card {
    width: 100%;
}
mat-icon {
    align-self: center;
}

.questionarios {
    display: flex;
    flex-direction: column;
}

mat-cell {
    text-align: center;
}