.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    width: 800px;
}

.form-item {
    width: 800px;
}

.description {
    width: 800px;
    margin: 50px;
}

button {
    width: 800px;
}
