.title-container {
  text-align: center;
  padding: 150px;
}

.title-container h1 {
  font-size: 35px;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 50px;
}